{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% load custom_tags %}
{% load socialaccount %}
{% block title %}
<title>Reset Password</title>
{% endblock %}
{% block content %}
<div class="h-screen -mt-16 flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full bg-white shadow-md rounded-lg p-6">
        <!-- Title -->
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">
            {% trans "Sign In" %}
        </h1>

        <!-- Form -->
        <form method="post" action="{% url 'account_reset_password' %}" class="space-y-6">
            {% csrf_token %}

            <!-- Non-Field Errors -->
            {% if form.non_field_errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
                {% for error in form.non_field_errors %}
                <p class="text-sm">{{ error|striptags }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Loop through form fields -->
            {% for field in form %}
            <div class="mb-4">
                {% if field|is_checkbox %}
                <div class="flex items-center space-x-2">
                    <!-- Checkbox -->
                    {{ field|add_class:"h-5 w-5 text-indigo-600 border-gray-300 rounded" }}

                    <!-- Label without colon -->
                    <label for="{{ field.id_for_label }}" class="text-sm font-medium text-gray-700">
                        {{ field.label|strip_last_char }}
                    </label>
                </div>
                {% else %}
                <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
                    {{ field.label }}
                </label>
                {{ field|add_class:"block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm" }}
                {% endif %}

                <!-- Display field errors -->
                {% if field.errors %}
                <ul class="mt-2 text-sm text-red-600">
                    {% for error in field.errors %}
                    <li>{{ error|striptags }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}

            <div class="flex justify-center mt-4">
                <button type="submit"
                    class="w-64 px-6 py-2 bg-indigo-600 hover:bg-indigo-700 text-white font-medium rounded-lg shadow-md focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition duration-150">
                    {% trans "Sign In" %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}